# Basic types and constructions in Python

## 1. Basic types: numeric types

In [ ]:
# int
num = 5
print(num)
print(type(num))

In [ ]:
# float
num = 13.4
print(num)

num = 1.5e2
print(type(num))

In [ ]:
# Python may convert types
num = int(num)
print(num, type(num))

num = float(num)
print(num, type(num))

## 2. Basic types: **logical types**

In [ ]:
# bool
print(3 > 4)
print(3 <= 3)
print(6 >= 6)
print(6 < 5)

In [ ]:
x=False  
y=True
print(x and y) # logical and
print(x or y) # logical or
print(not y) # logical not

In [ ]:
# example
x, y, z = True, False, True
result = x and y or z
print(result)

## 3. Basic types: string

In [ ]:
example_string = "Python course in ITMO"
print(example_string)
print(type(example_string))

In [ ]:
example_string[7]

In [ ]:
# combine strings 
"You " + "can " + "just " + "add " + "one " + "string " + "to another "

In [ ]:
# slicing string
example_string = "Python cource in ITMO"
example_string[17:21]

In [ ]:
# 'in' operator 
"3.14" in "Pi number = 3.1415926"

In [ ]:
example_string = "ITMO"
for letter in example_string:
    print("Letter", letter)

In [ ]:
# create string 
"{num} K ought to be enough for anybody. ({author})".format(
    num="ITMO", author="Bill Gates")

## 4. Basic types: None object

In [ ]:
z = None
print(z)
print(type(z))

# Collections in Python

## 1. Collections: list

In [ ]:
list0 = []

In [ ]:
saled_goods_count = [33450, 34010, 33990, 33200]

print(saled_goods_count)
print(type(saled_goods_count))

In [ ]:
collections = ['list', 'tuple', 'dict', 'set']

print(collections)
print(type(collections))

In [ ]:
features = ['Ivan Ivanovich', 'Medium', 500000, 12, True]
print (features)
print(type(features))

In [ ]:
# list length
len(collections)

In [ ]:
# indexes and slices
print(collections)

print(collections[0])
print(collections[-1])

In [ ]:
range_list = list(range(5,10))
print(range_list)

In [ ]:
range_list[1:3]

In [ ]:
range_list[3:]

In [ ]:
range_list[:5]

In [ ]:
range_list[::2]

In [ ]:
range_list[::-1]

In [ ]:
# iterations
collections = ['list', 'tuple', 'dict', 'set']

for collection in collections:
    print('Learning {}...'.format(collection))

In [ ]:
for idx, collection in enumerate(collections):
    print('#{} {}'.format(idx, collection))

In [ ]:
# add or remove elements
collections.append('OrderedDict')

print(collections)

In [ ]:
collections.extend(['ponyset', 'unicorndict'])

print(collections)

In [ ]:
collections += [None]

print(collections)

In [ ]:
del collections[4]

print(collections)

In [ ]:
# min, max. sum
numbers = [4, 17, 19, 9, 2, 6, 10, 13]

print(min(numbers))
print(max(numbers))
print(sum(numbers))

## 2. Collections: tuple

In [ ]:
empty_tuple = ()
empty_tuple = tuple()

In [ ]:
immutables = (int, str, tuple)

In [ ]:
one_element_tuple = (1,)
guess_what = (1)

type(guess_what)

## 3. Collections: dictionary

In [ ]:
empty_dict = {}
empty_dict = dict()

collections_map = {
    'mutable': ['list', 'set', 'dict'],
    'immutable': ['tuple', 'frozenset']
}

In [ ]:
print(collections_map['immutable'])

In [ ]:
# add elements
beatles_map = {
    'Paul': 'Bass',
    'John': 'Guitar',
    'George': 'Guitar',
}

print(beatles_map)

beatles_map['Ringo'] = 'Drums'

print(beatles_map)

In [ ]:
# delete elements 
del beatles_map['John']

print(beatles_map)

In [ ]:
# itteration 
for key, value in collections_map.items():
    print('{} — {}'.format(key, value))

## 4. Collections: set

In [ ]:
empty_set = set()
number_set = {1, 2, 3, 3, 3, 3, 4, 5}

print(number_set)

In [ ]:
odd_set, odd_set = set(), set()

odd_set = {1, 3, 5, 7}
even_set = {2, 4, 6, 8}

print(odd_set)
print(even_set)

union_set = odd_set | even_set
print(union_set)

intersection_set = odd_set & even_set
print(intersection_set)
for element in union_set:
  print(element)

## Where you can finde more informations about  Python

* https://www.coursera.org/courses?query=Python
* https://www.codeacademy.com
* http://www.pythontutor.ru
* http://www.learnpythonthehardway.org
* http://snakify.org
* https://www.checkio.org

# Numpy

## Numpy: arrays

### Basics

In [ ]:
import numpy as np

In [ ]:
# array
a = np.array([1, 2, 3, 4, 5])
print(a)

In [ ]:
# float type array
b = np.array([1.5, 2.6, 3.1, 4.8, 5.0], dtype=float)
print(b)

In [ ]:
# boolean type array
c = np.array([True, False, True], dtype=bool)
print(c)

In [ ]:
#another way to create numpy array
d = np.arange(start=10, stop=20, step=1) 
print(d)

In [ ]:
# numpy array is 1D 
print(c.ndim)

In [ ]:
# operations 
print(a)
print(b)
print(a + b) # sum
print(a - b) # diff
print(a*b)   # multiply

###Norms of vector

**p-norm**

Let p ≥ 1 be a real number. The 
p-norm of vector $x = (x_{1}, \dots, x_{n}) \in \mathbb{R}^{n}$ is

$$
\left\Vert x \right\Vert_{p} = \left( \sum_{i=1}^n \left| x_{i} \right|^{p} \right)^{1 / p},~p \geq 1.
$$

For p = 1 we get the taxicab norm, for p = 2 we get the Euclidean norm

In [ ]:
from numpy.linalg import norm

**Taxicab norm or Manhattan norm**
$$
 \left\Vert x \right\Vert_{1} = \sum_{i=1}^n \left| x_{i} \right|.
$$

In [ ]:
#a = np.array([1, 2, -3])
print('L1 norm of vector a: {norm}'.format(norm = norm(a, ord=1)))

**Euclidean norm**
$$
 \left\Vert x \right\Vert_{2} = \sqrt{\sum_{i=1}^n \left( x_{i} \right)^2}.
$$

In [ ]:
print('L2 norm of vector a: {norm}'.format(norm = norm(a, ord=2)))

###Distance between arrays

For two arrays $x = (x_{1}, \dots, x_{n}) \in \mathbb{R}^{n}$ и $y = (y_{1}, \dots, y_{n}) \in \mathbb{R}^{n}$ $\ell_{1}$ and $\ell_{2}$  distance is calculated as:
$$
 \rho_{1}\left( x, y \right) = \left\Vert x - y \right\Vert_{1} = \sum_{i=1}^n \left| x_{i} - y_{i} \right|
$$

$$
 \rho_{2}\left( x, y \right) = \left\Vert x - y \right\Vert_{2} = 
 \sqrt{\sum_{i=1}^n \left( x_{i} - y_{i} \right)^2}.
$$

In [ ]:
print('L2 distance between a and b: {dist}'.format(dist = norm(a - b, ord=1)))

In [ ]:
print('L2 distance between a and b: {dist}'.format(dist = norm(a - b, ord=2)))

###Scalar product

Scallar dot in $\mathbb{R}^{n}$ of two vectors $x = (x_{1}, \dots, x_{n})$ и $y = (y_{1}, \dots, y_{n})$ is:

$$
\langle x, y \rangle = \sum_{i=1}^n x_{i} y_{i}.
$$

In [ ]:
print('Scalar dot of a and b: {dot}'.format(dot = np.dot(a, b)))

In [ ]:
# another way
print('Scalar dot of a and b: {dot}'.format(dot = a.dot(b)))

## Numpy: matrix

### Basics

In [ ]:
import numpy as np

In [ ]:
a = np.array([[1, 2, 3], [2, 5, 6], [6, 7, 4]])
print(a)

In [ ]:
# more examples
b = np.eye(5)
print(b)

In [ ]:
c = np.ones((7, 5))
print(c)

In [ ]:
v = np.arange(0, 24, 2)
print(v)
d = v.reshape((3, 4))
print(d)

In [ ]:
# indexes
print(d)
print(d[2, 1])
print(d[1, :])
print(d[:, 3])

### Matrix and vectors multiplication

In [ ]:
a = np.array([[1, 0], [0, 1]])
b = np.array([[4, 1], [2, 2]])
r1 = np.dot(a, b)
r2 = a.dot(b)

In [ ]:
print('Matrix a:\n', a)
print('Matrix b:\n', b)
print('Multiplication, 1 method:\n', r1)
print('Multiplication, 2 method:\n', r2)

In [ ]:
c = np.array([1, 2])
r3 = b.dot(c)

In [ ]:
print('Matrix a:\n', a)
print('Vector c:\n', c)
print('Multiplication:\n', r3)

### Transposition

In [ ]:
a = np.array([[1, 2], [3, 4]])
b = np.transpose(a)
c = a.T

In [ ]:
print('Matrix a:\n', a)
print('Transposed matrix:\n', b)
print('Transposed matrix:\n', c)

### Determinant

In [ ]:
a = np.array([[1, 2, 1], [1, 1, 4], [2, 3, 6]], dtype=np.float32)
det = np.linalg.det(a)

In [ ]:
print('Matrix a:\n', a)
print('Determinant of a:\n', det)

### Rank

In [ ]:
a = np.array([[1, 2, 3], [1, 1, 1], [2, 2, 2]])
r = np.linalg.matrix_rank(a)

In [ ]:
print('Matrix a:\n', a)
print('Rank of a:\n', r)

In [ ]:
# check if systems of vectors is linearly independent
a = np.array([1, 2, 3])
b = np.array([1, 1, 1])
c = np.array([2, 3, 5])
m = np.array([a, b, c])

print(np.linalg.matrix_rank(m) == m.shape[0])

### System of linear equations

In [ ]:
a = np.array([[3, 1], [1, 2]])
b = np.array([9, 8])
x = np.linalg.solve(a, b)

In [ ]:
print('Matrix a:\n', a)
print('Matrix b:\n', b)
print('Solution:\n', x)

### Invertible matrix

In [ ]:
a = np.array([[1, 2, 1], [1, 1, 4], [2, 3, 6]], dtype=np.float32)
b = np.linalg.inv(a)

In [ ]:
print('Matrix a:\n', a)
print('Invertible matrix b:\n', b)
print('Identity matrix:\n', a.dot(b))

# Pandas

## Basics

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

In [ ]:
# read csv file

df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/lab1/RegularSeasonCompactResults.csv')

In [ ]:
df

In [ ]:
# see the first 5 rows 
df.head(3)

In [ ]:
# see the last 5 rows 
df.tail(5)

In [ ]:
# see the dimensions of the dataframe 
df.shape

(145289, 8)

In [ ]:
# extract all the column names as a list
df.columns.tolist()

['Season', 'Daynum', 'Wteam', 'Wscore', 'Lteam', 'Lscore', 'Wloc', 'Numot']

In [ ]:
# see statistics like mean, min, etc about each column of the dataset
df.describe()

              Season         Daynum  ...         Lscore          Numot
count  145289.000000  145289.000000  ...  145289.000000  145289.000000
mean     2001.574834      75.223816  ...      64.497009       0.044387
std         9.233342      33.287418  ...      11.380625       0.247819
min      1985.000000       0.000000  ...      20.000000       0.000000
25%      1994.000000      47.000000  ...      57.000000       0.000000
50%      2002.000000      78.000000  ...      64.000000       0.000000
75%      2010.000000     103.000000  ...      72.000000       0.000000
max      2016.000000     132.000000  ...     150.000000       6.000000

[8 rows x 7 columns]

In [ ]:
# get the maximum values of all columns
df.median()

Season    2002.0
Daynum      78.0
Wteam     1284.0
Wscore      76.0
Lteam     1280.0
Lscore      64.0
Numot        0.0
dtype: float64

In [ ]:
# get the max value for a particular column
df['Wscore'].max() # or mean(), median(), min(), argmax()

186

In [ ]:
# get frequency of each item in the column
print(len(df['Wscore'].unique()))
print(len(df['Wteam'].unique()))
print(len(df['Season'].unique()))

130
364
32

## Sorting Values

In [ ]:
# sorting the dataframe in increasing order for the scores of the losing team
df.sort_values('Lscore', ascending=False).head()

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
17867    1989      92   1258     181   1109     150    H      0
16853    1989      68   1258     162   1109     144    A      0
22074    1990      96   1261     148   1258     141    H      0
24970    1991      68   1258     186   1109     140    H      0
1126     1985      65   1424     142   1429     140    A      0

## Filtering Rows

In [ ]:
# find which entries are above 150
df[df['Wscore'] > 150].head(10)

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
5269     1986      75   1258     151   1109     107    H      0
12046    1988      40   1328     152   1147      84    H      0
12355    1988      52   1328     151   1173      99    N      0
16040    1989      40   1328     152   1331     122    H      0
16853    1989      68   1258     162   1109     144    A      0
17867    1989      92   1258     181   1109     150    H      0
19653    1990      30   1328     173   1109     101    H      0
19971    1990      38   1258     152   1109     137    A      0
20022    1990      40   1116     166   1109     101    H      0
22145    1990      97   1258     157   1362     115    H      0

In [ ]:
# find out when the winning team scores more than 150 points and 
# when the losing team scores below 100.
df2 = df[(df['Wscore'] > 150) & (df['Lscore'] < 90)]
df2

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
12046    1988      40   1328     152   1147      84    H      0
28687    1992      54   1261     159   1319      86    H      0
52600    1998      33   1395     153   1410      87    H      0

## Grouping

In [ ]:
df2.to_excel("df2.csv")

In [ ]:
# get the mean Wscore of each Wteam
df.groupby('Wteam')['Wscore'].mean().head()

Wteam
1101    78.111111
1102    69.893204
1103    75.839768
1104    75.825944
1105    74.960894
Name: Wscore, dtype: float64

In [ ]:
# finds where how many times that specific team won at home, on the road, or at a neutral site
df.groupby('Wteam')['Wloc'].value_counts().head(9)

Wteam  Wloc
1101   H        12
       A         3
       N         3
1102   H       204
       A        73
       N        32
1103   H       324
       A       153
       N        41
Name: Wloc, dtype: int64

## Extracting rows and columns

In [ ]:
df2 = df[['Wscore', 'Lscore']].head()

In [ ]:
df2

   Wscore  Lscore
0      81      64
1      77      70
2      63      56
3      70      54
4      86      74

In [ ]:
df.loc[:10, ['Wscore', 'Lscore']]

    Wscore  Lscore
0       81      64
1       77      70
2       63      56
3       70      54
4       86      74
5       79      78
6       64      44
7       58      56
8       98      80
9       97      89
10     103      71

In [ ]:
df[0:3]

In [ ]:
df.iloc[100:120,3:6]

     Wscore  Lteam  Lscore
100      86   1331      82
101      90   1434      57
102      89   1365      61
103      78   1442      67
104      78   1149      61
105      92   1456      60
106      81   1152      63
107      93   1227      62
108      89   1287      46
109      81   1406      73
110     102   1260      96
111      79   1117      62
112      84   1121      72
113      61   1163      60
114      71   1436      52
115      56   1440      50
116      80   1305      75
117      69   1247      59
118      65   1165      53
119      61   1418      60

## Other resources

Pandas has been around for a while and there are a lot of other good resources if you're still interested on getting the most out of this library.

http://pandas.pydata.org/pandas-docs/stable/10min.html
https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python
http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
https://www.dataquest.io/blog/pandas-python-tutorial/
https://drive.google.com/file/d/0ByIrJAE4KMTtTUtiVExiUGVkRkE/view
https://www.youtube.com/playlist?list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y